# 编译后的类文件
*.class

# 日志文件
*.log

# BlueJ 文件
*.ctxt

# Java 移动工具 (J2ME)
.mtj.tmp/

# 打包文件 #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# 虚拟机崩溃日志，参见 http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ IDEA 项目文件
.idea/
*.iml
out/
build/

# Mac 系统文件
.DS_Store

# Windows 系统文件
Thumbs.db

/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/